@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /*colors go here*/
  --font-base: "Poppins";
  --lvl5-blue: #0a0f2a;
  --lvl4-blue: #001c55;
  --lvl3-blue: #0a2472;
  --lvl2-blue: #0e6ba8;
  --lvl1-blue: #a6e1fa;
  --orange: #ffc107;
  --white: rgb(194, 212, 238);
}
.contactMe{
  height: 300px !important;
  background-color: var(--lvl5-blue);
  box-shadow: -4px 0px 2px 4px var(--lvl5-blue);
}
body {
  background-color: var(--lvl4-blue);
  color: aliceblue;
  font-family: var(--font-base), sans-serif;
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: aliceblue;
 
  font-weight: 400;
}
.contactMeHeader{
  text-align: center;
  width: 100%;
  /* left: 43%; */
  /* position: relative; */
  font-weight: bold;
  color: #ffc107;
}
.socials{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials a {
 
}
.socials a i{
font-size: 38px;
border: 1px solid rgba(255, 255, 255, 0.685);
border-radius: 50%;
padding: 0.50rem;
margin-right: 20px;
}

a {
  text-decoration: none;
  color: var(--lvl2-blue);
  transition: all 0.42s ease;
}
.textHighlight {
  color: #ffc107;
}
a:hover {
  color: var(--lvl1-blue);
}
img {
  width: 100%;
}
.footerReserved{
  font-size: 14px;
  text-align: center;
}
/* navbar */
@media (max-width: 1050px){
.skills{
  justify-content: center !important;
}
.gitRepo{
  margin-left: 7px !important;
}
}
@media (min-width: 768px) {
  .mainNav {
    min-height: 100vh;
    width: 360px;
    background: var(--lvl5-blue);
    /* background: linear-gradient(#00072D,#051942); */
    box-shadow: 6px 6px 8px 4px rgba(0, 0, 0, 0.571);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
  }
  .mainNav-nav .nav-link {
    position: relative; /* Set parent's position to relative */
  }

  .mainNav-nav .nav-link::after {
    content: "";
    width: 0%;
    height: 33px;
    background-color: rgba(243, 243, 243, 0.201);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    border-radius: 60px; /* Combine all border radius properties */
    position: absolute;
    left: 0px;
    bottom: 9px; /* Corrected the value, assuming it's pixels */
    transition: all 0.3s;
  }

  .mainNav-nav .nav-link:hover::after,
  .mainNav-nav .nav-link.active::after {
    width: 100%;
  }
  .mainNav-nav .nav-link.active {
    color: #ffc107;
  }
  #content-wrapper {
    padding-left: 367.5px;
  }
}

.mainNav .nav-link {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .mainNav-nav .nav-item {
    position: relative;
  }

  .mainNav-nav .nav-link::after {
    content: "";
    width: 100%;
    height: 33px;
    background-color: rgba(243, 243, 243, 0.201);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    border-radius: 60px; /* Combine all border radius properties */
    position: absolute;
    left: 0;
    opacity: 0;
    bottom: 9px; /* Corrected the value, assuming it's pixels */
    transition: all 0.1s;
  }
  .mainNav .nav-item {
    width: 165px;
    display: flex;
    justify-content: center;
  }
  .mainNav {
    background-color: var(--lvl5-blue);
  }

  .mainNav-nav .nav-link:hover::after,
  .mainNav-nav .nav-link.active::after {
    opacity: 0.5;
  }
  .mainNav-nav .nav-link.active {
    color: #ffc107;
  }
}
#heading {
  color: white;
}
/* /navbar */

/* Content Wrapper */
.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid rgba(250, 243, 243, 0.11);
}

#customizedButton {
  background: var(--lvl2-blue);
  border-radius: 10px;
  font-weight: 600;
}
#customizedButton:hover {
  background: var(--lvl2-blue);
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 4px rgba(122, 111, 6, 0.518);
  transition: all 0.15s;
  color: #ffc107;
}
#customizedButton:focus {
  transform: scale(
    0.95
  ); /* Add a scale transformation to make the button slightly smaller when pressed */
}
body::-webkit-scrollbar {
  width: 0;
}
/* about me */
.navbar-nav {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.bg-base {
  background-color: var(--lvl3-blue);
  box-shadow: 0px 0px 30px 1px black;
}
.shadow-effect {
  transition: all 0.3s;
}
.shadow-effect:hover {
  box-shadow: 0px 0px 30px 1px #f9c529;
}
.iconBox {
  border: #ffc107 solid;
  box-shadow: 0px 0px 30px 2px hsla(42, 98%, 51%, 0.534);
  background: var(--lvl3-blue);
  width: 50px;
  color: #ffc107;

  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  border-radius: 10px;
}
.readMoreButton {
  border: none;
  background-color: transparent;
  font-weight: bolder;
  color: white;
  padding: 0;
}
.readMoreButton:hover {
  color: #ffc107;
}

/* /about me */

.image {
  border-radius: 10px;
  height: 140px;
  width: 140px;
}
.novice {
  border: solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10%;
  margin-left: 10%; */
  margin-top: 5%;
  background-color: #a6e1fa;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 10px 1px #a6e1fa;
}
.novice-shadow:hover {
  box-shadow: 0px 0px 30px 1px #a6e1fa;
  transition: all 500ms ease-out !important;
}
.intermediate {
  border: solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10%;
  margin-left: 10%; */
  margin-top: 5%;
  background-color: #49ce1c;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 10px 1px #49ce1c;
}
.intermediate-shadow:hover {
  box-shadow: 0px 0px 30px 1px #49ce1c;
  transition: all 500ms ease-out !important;
}
.advanced {
  border: solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10%;
  margin-left: 10%; */
  margin-top: 5%;
  background-color: #900bc9;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 8px 1px #ca66f5;
}
.advanced-shadow:hover {
  box-shadow: 0px 0px 30px 1px #ca66f5;
  transition: all 500ms ease-out !important;
}

.expert {
  border: solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10%;
  margin-left: 10%; */
  margin-top: 5%;
  background-color: #bb1010;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 8px 1px #bb1010;
}
.expert-shadow:hover {
  box-shadow: 0px 0px 30px 1px #bb1010;
  transition: all 500ms ease-out !important;
}
/* skills */
.fixed-height {
  height: 100%;
}
.skillIconBox {
  display: flex;
  justify-content: center;
  border: #ffc107 solid;
  font-size: 80px;
  color: #ffc107;
  box-shadow: 0px 0px 30px 2px hsla(42, 98%, 51%, 0.534);
  border-radius: 20px;
  margin-left: 25%;
  margin-right: 25%;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.skill {
  width: 280px;
  height: 222px;
  padding: 20px;
}
.skill div h3{
  margin-top: 12px !important;
  color: white !important;
}

/* projects */
.label {
  margin-bottom: 10px;
  border: white solid;
  border-radius: 20px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label p {
  margin-bottom: 0;
}
.html {
  background-color: #900bc9;
  font-weight: bold;
  box-shadow: 0px 0px 8px 1px #ca66f5;
}
.java {
  background-color: #bb1010;
  font-weight: bold;
  box-shadow: 0px 0px 8px 1px #bb1010;
}
.css {
  background-color: #900bc9;
  font-weight: bold;
  box-shadow: 0px 0px 8px 1px #ca66f5;
}
.javascript {
  background-color: #900bc9;
  font-weight: bold;
  box-shadow: 0px 0px 8px 1px #ca66f5;
}
.projectTitle{
  font-size: 25px;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.52);
}
.react {
  background-color: #49ce1c;
  font-weight: bold;
  box-shadow: 0px 0px 8px 1px #49ce1c;
}
.novicel {
  background-color: #a6e1fa;
  font-weight: bold;
  box-shadow: 0px 0px 8px 1px #a6e1fa;
}
.firstrow {
  display: flex;
  flex-wrap: wrap;
}
.projectContainer {
  background-color: var(--lvl3-blue);
  box-shadow: 0px 0px 30px 1px black;
  border-radius: 30px;
  width: 100%;
  height: 300px;
  min-width: 500px;
  padding: 40px;
  overflow: auto;
}
.projectContainer::-webkit-scrollbar {
  width: 0;
}
.projectContainer:hover {
  box-shadow: 0px 0px 30px 1px white;
  transition: all 1s;
}
.description {
  margin-top: 10px;
  font-size: smaller;
}
.tryIt{
  height: 60px;
}
.gitRepo{
  height: 50px;
}
.popUpButton {
  padding: 10px 30px;
  background-color: #0665cb;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px #0056b3;
}
.gitRepoButton {
  padding: 10px 53px;
  background-color: #dfc11a;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px #dfc11a;
}
.gitRepoButton:hover {
  color: white;
  background-color: #a08a09;
}
.popUpButton:hover {
  background-color: #0056b3;
}
.lastRow {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}
.popup-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}
/* CSS for modal popup */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeInModal 0.5s; /* Add fade-in animation */
}

@keyframes fadeInModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
}

.modal video {
  width: 100%;
  height: auto;
}

.close {
  position: fixed;
  top: -43px;
  right: -57px;
  padding: 10px;
  color: #fff;
  font-size: 44px;
  cursor: pointer;
  height: 50px;
  z-index: 100000;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

.close:hover {
  background-color: rgba(215, 180, 180, 0.612);
}
.firstFormRow {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.firstFormRow input {
  width: 45%;
  height: 60px;
}
#secondFormRow {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}
#secondFormRow input {
  width: 94%;
  height: 60px;
}
#thirdFormRow {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}
.viewButton{
  margin: 14px 0px;
  border: solid 2px orange;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-size: 23px;
  padding: 2px 0px;
    
}
.skillSectionHeader{

  font-size: 20px;
  border-bottom: 1px solid white; 
  padding-bottom: 5px;
  width: 360px;
  margin-left: 25px;
  margin-top: 20px;
  font-weight: 500;
 
}
.collapsedBox{
  font-size: 20px;
  /* text-align: left; */
  padding: 10px;
}
.collapsedBox ul{
  padding-left: 12px;
}
.collapsedBox ul li{
padding-top: 5px;
/* list-style-type:none; */
}
.viewButton:hover{
  background-color: #ff9e20;
  transition: all 0.3s ease;
  color: white;
  box-shadow: 0px 0px 8px 3px #ff910190;
}
.viewButton:active{
  background-color: #ff9e20 !important;
  transition: all 0.3s ease;
  color: white;
  box-shadow: 0px 0px 8px 3px #ff910190;
  border: solid 2px orange !important;
}
#thirdFormRow textarea {
  width: 94%;
  height: 200px;
}
#fourthFormRow {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}
#fourthFormRow button {
  width: 94%;
  height: 60px;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 15px;
  background-color: var(--lvl3-blue);
  box-shadow: 0px 0px 30px 1px black;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.489);
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

#fourthFormRow button:hover {
  color: white;
  background-color: #0665cb;
  box-shadow: 0px 0px 10px 1px #0056b3;
}
input,
textarea {
  color: white;
  border: none;
  background-color: var(--lvl3-blue);
  box-shadow: 0px 0px 30px 1px black;
  border-radius: 10px;
  padding: 20px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.489);

}
